.mainContainer {
	width: 100%;
	height: 478px;
	display: flex;
	align-items: center;
}

.window {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.allPagesContainer {
	display: flex;
	height: 100%;
}

.arrow {
	cursor: pointer;
}
