.header {
	height: 190px;
	background-color: #272727;
	display: flex;
	align-items: center;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
}

.header nav {
	display: flex;
	gap: 30px;
}

.buttonLog {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 260px;
	height: 70px;
	border-radius: 22px;
	background-color: #39cadf;
}

.buttonLog:hover {
	background-color: #3979df;
}
