@font-face {
	font-family: 'Ubuntu Condensed';
	src: url('assets/fonts/UbuntuCondensed-Regular.ttf');
}

* {
	font-family: 'Ubuntu Condensed';
	font-size: 32px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

button {
	border: none;
}

a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: inherit;
	transition: all 0.12s;
}
